*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(6, 6, 80);
    color: #fff;
}
H1{
    color: aliceblue;
    margin-left: 38rem;
}
section p{
    font-weight: bold;
    margin-top: 3rem;
    gap: 2rem;
    font-size: larger;
}
section{
    padding: 2rem 2rem;
}
button {
    margin-left: 50rem;
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    border: 2px solid #fff;
    background: transparent;
    transition: box-shadow 0.3s ease; /* Smooth transition */
}

button:hover {
    box-shadow: 0 0 15px 5px palegoldenrod; /* Glow effect */
}

