body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}
.nav h2{
    color: #fff;
    margin-right: 8rem;
}
.nav {
    display: flex;
    justify-content: center;
    background-color: #34495e;
    padding: 10px 0;
}
.nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 1.7rem;
}
.nav a:hover {
    text-decoration: underline;
}

.hero {
    background-color: #d6eaf8;
    padding: 50px 20px;
    text-align: center;
}
.hero h1 {
    font-size: 36px;
    color: #2c3e50;
}
.hero p {
    font-size: 18px;
    color: #2c3e50;
}
.hero .stats {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.hero .stats div {
    margin: 0 20px;
    text-align: center;
}
.hero .stats div h2 {
    font-size: 24px;
    color: #2c3e50;
}
.hero .stats div p {
    font-size: 16px;
    color: #2c3e50;
}
.team-section {
    text-align: center;
    padding: 50px 20px;
}
.team-section h2 {
    font-size: 28px;
    color: #2c3e50;
}
.team-section .team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.team-section .team .member {
    margin: 10px;
    text-align: center;
}
.team-section .team .member img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.team-section .team .member h3 {
    font-size: 18px;
    color: #2c3e50;
    margin: 10px 0 5px;
}
.team-section .team .member p {
    font-size: 14px;
    color: #2c3e50;
}
.team-section .team .highlight {
    background-color: #d6eaf8;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    text-align: left;
}
.about-section {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
}
.about-section .about {
    max-width: 600px;
    margin: 0 20px;
}
.about-section .about h2 {
    font-size: 28px;
    color: #2c3e50;
}
.about-section .about p {
    font-size: 16px;
    color: #2c3e50;
    line-height: 1.6;
}
.about-section .image {
    max-width: 300px;
    margin: 0 20px;
}
.about-section .image img {
    width: 100%;
    border-radius: 10px;
}